span{
    position: absolute;
    top: 28px;
    font-size: 20px;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.stage{
    width: 70%;
    padding: 20px 0;
    background-color: #aaa;
    margin-left: 15%;
    text-align: center;
    color: #444;
    border-radius: 5px;
    border: 1px solid #777;
    font-size: 20px;
    box-shadow: -1px 1px #000;
}
.front-chairs{
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 20px;
    height: 300px;
}
.front-chairs>div{
    border: 1px solid #aaa;
    display: flex;
    border-radius: 2px;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    border-radius: 5px;
}
.a{
    max-width: 402px;
}
.b,.c{
    max-width: 270px;
}
.chair{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #777;
    border-radius: 3px;
    border: 1px solid black;
    user-select: none;
}
.back-chairs{
    display: flex;
    justify-content: center;
    border: 1px solid #aaa;
    border-radius: 2px;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
    justify-content: center;
    border-radius: 5px;
    width: 610px;
    margin-left: calc(50% - 305px);
    margin-bottom: 20px;
}
.unselected{
    background-color: #777;;
}
.selected{
    background-color: #00b949;
}
.ready{
    background-color: #fb6;
}
.reserve{
    background-color: #f33;
}
.count-sum{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 200px;
}
.count-sum>div{
    padding: 10px 30px;
    background: #ddd;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.guide.hidden{
    width: 0;
    height:0;
    visibility: hidden;
}
.guide{
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: calc(50% - 200px);
    background-color: #fff;
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 5px;
}
.close{
    text-align: right;
    font-size: 20px;
}
.gif{
    width: 350px;
}